.info-box {
  background-color: #fff;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dcdcdc; }

.info-box__title {
  border-top: 3px solid #333;
  padding: 1rem .75rem .5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .info-box__title > h1, .info-box__title > h2, .info-box__title > h3, .info-box__title > h4, .info-box__title > h5, .info-box__title > h6 {
    margin: 0; }
  .info-box__title > .button-group {
    float: right; }

.info-box__content {
  padding: .75rem; }
  .info-box__title + .info-box__content {
    border-top: 1px solid #dcdcdc; }
  .info-box__content + .info-box__title {
    border-top: 0;
    padding-top: 1.25rem; }
  .info-box__content > h1, .info-box__content > h2, .info-box__content > h3, .info-box__content > h4, .info-box__content > h5, .info-box__content > h6 {
    margin: 0; }

.block-list {
  list-style: none;
  margin: 0; }
  .block-list li {
    padding: .75rem 1.5rem; }
    .block-list li::after {
      clear: both;
      content: "";
      display: block; }
    .block-list li.callout {
      border: 0;
      padding-left: .75rem;
      padding-right: .75rem; }
  .info-box__content > .block-list {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-bottom: -.75rem; }

.price-list li {
  background-color: #fff; }

.price-list .transaction {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .price-list .transaction:after {
    display: block;
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    overflow: hidden;
    content: ".........................................................................................................................................................................................";
    color: #ccc;
    font-size: 1rem;
    letter-spacing: .225rem; }

.price-list .item {
  z-index: 2;
  background-color: #fff; }
  .price-list .item.right {
    padding-left: .4rem;
    padding-right: .3rem; }

.price-list .item--success {
  border-radius: 2px;
  background-color: #e6efc2; }

.price-list .item--warning {
  border-radius: 2px;
  background-color: #fbe3e4; }

.price-list .caption {
  clear: both;
  margin: -.2rem auto 0 auto;
  display: block;
  color: #aaa; }

.price-list .deposit_due .item {
  padding-left: 2rem;
  padding-right: 2rem;
  font-style: italic;
  color: #ccc;
  font-weight: bold; }

.price-list .callout.total {
  margin-top: .75rem; }
  .price-list .callout.total, .price-list .callout.total .item {
    background-color: #f4f9fd; }

.price-list .callout.deposit_due, .price-list .callout.deposit_due .item {
  background-color: #fdf6e1; }

.price-list .callout.balance, .price-list .callout.balance .item {
  background-color: #d7e9f7; }

ul {
  padding-left: 0; }

dl {
  margin-top: 0; }
  dl > dt {
    font-weight: bold; }
  dl > dd {
    margin-left: 0; }

.ui.container {
  padding-bottom: 3rem; }

.ui.checkbox label {
  cursor: pointer; }

h1 .ui.label, h2 .ui.label, h3 .ui.label, h4 .ui.label, h5 .ui.label, h6 .ui.label, .ui.heading .ui.label {
  position: relative;
  top: -.5833em; }

.ui.menu .toc.item {
  display: none; }

.ui.pagination .pages {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  @media only screen and (max-width: 768px) {
    .ui.pagination .pages .item {
      display: none; }
    .ui.pagination .pages .active.item {
      display: inherit; } }

@media only screen and (max-width: 900px) {
  .ui.menu.page-nav .left.menu {
    display: none; }
  .ui.menu .toc.item {
    display: block; } }

/*# sourceMappingURL=app.css.map */
