@import "bower_components/bourbon/core/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "bower_components/foundation-sites/scss/foundation";

@include foundation-menu;
@include foundation-top-bar;
@include foundation-grid;
@include foundation-label;
@include foundation-forms;
@include foundation-badge;
@include foundation-callout;
@include foundation-visibility-classes;

@import "base/base";
@import "admin/info_box";
@import "Dashboard";
@import "components/Statistics";
@import "components/log-in-form";

body {
    margin: 0;
}

.container {
    @include grid-column;
    @include grid-row;
    float: none;

    > .row {
        @include grid-row-nest;
    }
}

section {
    margin-bottom: 2rem;
}
.panel {
    display: block;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
}
.panel-body,
.panel-side,
.panel-footer, {
    padding: .8em;
    > :last-child {
        margin-bottom: 0;
    }
}
.panel-body {
    border-bottom: $base-border;
}

.panel--registration {
    .panel-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .panel-side {
        display: none;
    }
    .footer-meta {
        font-size: modular-scale(-1);

        @include media($medium-screen) {
            @include menu-base;
            > li:not(:last-child):after {
                content: "•";
                padding: 0 .5em;
            }
        }

        .meta {
            &--church,
            &--created {
                @media screen and (max-width: $medium-screen) {
                    display: none;
                }
            }
        }

    }
}

.pagination {
    @include pagination-container;

    > li {
        > span {
            display: block;
            padding: $pagination-item-padding;
        }
    }

    .disabled {
        color: $pagination-item-color-disabled;
        cursor: default;

        &:hover {
        background: transparent;
        }
    }
    .active {
        background: $pagination-item-background-current;
        color: $pagination-item-color-current;
        cursor: default;
    }
}


// Margin and Padding

.m-x-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
) !default;
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x !important; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }
    .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x !important; }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}

.page-header {
    @include media($medium-screen) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        * {
            margin-bottom: 0
        }
    }

    border-bottom: $base-border;
    padding-bottom: .8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__title {
        margin-bottom: 1rem;
        @include media($medium-screen) {
            margin-bottom: 0;
        }
    }

    &__actions {
    }
}

.section__header {
    * {
        margin-bottom: 0
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $base-border;
    padding: .75rem;
}

.label {
    &--student {
        background-color: #2c019c;
    }
}

tr.canceled {
    th, td {
        &, > * {
            text-decoration: line-through !important;
            font-style: italic;
        }
    }
}